.adjustFormImages img {
    max-width: 100%;
}

.pointer {
    cursor: pointer;
}

.zet-fileupload-table img {
    max-height: 128px;
}

.dz-preview a {
    color: black;
}

.skin-red .main-header .logo {
    background: none;
}

.sidebar-collpapse .treeview-menu {
    display: none !important;
}

.sidebar-collapse .nav-item.has-treeview .treeview-menu {
    display: none !important;
}

.sidebar-collapse .nav-item.has-treeview:hover .treeview-menu {
    display: block !important;
}

.sidebar-collapse .nav-item.has-treeview:hover .nav-link {
    color: red;
}


.nav-stacked li.active > a,
.nav-stacked li.active > .nav-link
{
    color: #b8c7ce;
}


.treeview-menu .nav-item .fa {
    padding-right: 10px;
}

.treeview-menu .nav-item:hover a {
    color: #fff;
}

.nav-stacked .has-treeview.active > .nav-link,
.nav-stacked .has-treeview.active > .nav-link > *
{
    color: #fff;

    background: #232930;
}

.content > .row .btn {
    margin-bottom: 25px;
}