.adjustFormImages img {
    max-width: 100%;
}

.pointer {
    cursor: pointer;
}

.zet-fileupload-table img {
    max-height: 128px;
}

.dz-preview a {
    color: black;
}

.skin-red .main-header .logo {
    background: none;
}

.sidebar-collpapse .treeview-menu {
    display: none !important;
}

.sidebar-collapse .nav-item.has-treeview .treeview-menu {
    display: none !important;
}

.sidebar-collapse .nav-item.has-treeview:hover .treeview-menu {
    display: block !important;
}


.nav-stacked li.active > a,
.nav-stacked li.active > .nav-link
{
    color: #b8c7ce;
}


.treeview-menu .nav-item .fa {
    padding-right: 10px;
}

.treeview-menu .nav-item:hover a {
    color: #fff;
}

.nav-stacked .has-treeview.active > .nav-link,
.nav-stacked .has-treeview.active > .nav-link > *
{
    /*color: #fff;*/

    background: none;
}

.content > .row .btn {
    margin-bottom: 25px;

}

@keyframes showup {
    0% {
        display: block;
    }

    100% {
        display: none;
    }
}

.sidebar-open .sidebar .nav-item > .nav-link {
    display: block !important;

    animation: 5s showup linear;
}

table tfoot .col-per-page select {
    float: right;

}

.datagrid {
    background: none;
}

.treeview-menu {
    background: #232930;
}

.content .quiz_wrapper form {
    background: none;
    padding: 0;
}

.content .quiz_wrapper form .form-group > label {
    margin-bottom: 15px;
}

.form-group input[type="file"] {
    margin-top: 15px;
}

.quiz_wrapper .form-group input {
    margin-top: 20px;
}

.quiz_wrapper .form-group label {
    margin-top: 10px;
}

.form-group .checkbox input {
    margin-right: 15px;

}

.quiz_wrapper .form-group:last-of-type {
    margin-bottom: 25px;

}

.logo-mini {
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
}

.logo-mini:hover {
    background: none !important;
}