{block content}
<div class="row">
    <div class="col-md-12">
        <a class="btn-md btn btn-primary pull-right" href="{plink edit, $data->getId()}">Upravit</a>
    </div>
</div>
<div class="col-row">
    <div class="col-md-12">
         {$data->getTitle()}
    </div>
</div>
