services:
    cmdFixture:
        class: Commands\CreateFixtureCommand
        tags: [kdyby.console.command]
    nette.userStorage: Majkl578\NetteAddons\Doctrine2Identity\Http\UserStorage
    router: Router\Factory::createRouter
    cacheStorage: \Nette\Caching\Storages\FileStorage(%tempDir%/cache)
    - Base\BaseForm
    - Base\BaseGrid

    - AdminModule\Grids\DeviceGrid
    - AdminModule\Forms\DeviceForm
    - Repository\Device


    - AdminModule\Forms\PlaceForm
    - AdminModule\Grids\PlaceGrid
    - Repository\Place

    - AdminModule\Forms\VisitorForm
    - AdminModule\Grids\VisitorGrid
    - Repository\Visitor

    - AdminModule\Forms\QuizForm
    - AdminModule\Grids\QuizGrid
    - Repository\Quiz

    - Forms\LoginForm
    - Authenticator\Authenticator

    - Repository\UserRepository
