<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-xs-right hidden-xs-down">

    </div>
    <!-- Default to the left -->
    {*<strong>Copyright &copy; {php echo date('Y')} <a href="https://uspesnyweb.cz">Úspěšný web s.r.o.</a></strong>*}
</footer>