<!-- Site WSearchListarch -->
<div class="site-search-block">
    <a href="#" class="site-search-close" data-widget="site-search"><i class="fa fa-arrow-left"></i></a>
    <form action="#" method="get">
        <input name="query" type="search" class="form-control" placeholder="Zadejte co chcete vyhledávat...">
        <button type="submit" class="site-search-submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="site-search-backdrop"></div>
</div>
