<link rel="stylesheet" href="/_admin/components/adminlte/adminlte.min.css">
<link rel="stylesheet" href="/_admin/components/adminlte/skin-red.css">
<link rel="stylesheet" href="/_admin/components/bootstrap/font-awesome.min.css">
<link rel="stylesheet" href="/_admin/components/bootstrap/ionicons.min.css">

<link rel="stylesheet" href="/_admin/components/ublaboo/datagrid.min.css">
<link rel="stylesheet" href="/_admin/components/dropzone/dropzone.css">
<link rel="stylesheet" href="/_admin/components/cropper/cropper.min.css">
<link rel="stylesheet" href="/_admin/components/ublaboo/datagrid-spinners.min.css">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css">

<link rel="stylesheet" href="/_admin/components/datatree/datatree/css/themes/default/style.min.css">
{\Zet\FileUpload\FileUploadControl::getHead('/_admin/components')}
<link rel="stylesheet" href="/_admin/custom.css">